@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-size: cover; font-family: "Play", sans-serif;
    background: #F8F8F8;
    color: black;
    justify-content: center;
    align-items: center;
}
/*************************/
/*     NAVIGATION     */
/*************************/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 8px 12px;
    position: relative;
}

.navbar-links li a {
    text-decoration: none;
    font-weight:670;
    font-size:20px;
    color:black;
}
.navbar-links ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background:linear-gradient(to right,#058605,#1d571d);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar-links ul li:hover::after{
    width: 100%;
}
.toggle-button {
    position: absolute;
    top: 3.75rem;
    right:4px;
    display: inline;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    color: forestgreen;
}

.toggle-button .bar {
    height:5px;
    width: 100%;
    background-color:green;
    border-radius: 10px;
}
@media (max-width: 925px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


.sign-up-box{
    max-width:1050px;
    background-color: rgb(202, 238, 202);
    border-radius:10px;
    margin:20px auto;
    display: flex;
  
}
.sign-up-box .content{
    display: flex;
    align-items: center;
    padding: 25px 20px;
}
.content .image{
    max-width: 55%;
}
.content .image img{
    width:100%;
}
.content form{
    margin-left:20px;
    width: 40%;
}
h1{
    font-size:30px;
    font-weight:500;
    color: green;
    margin-bottom:30px;
    margin-top: 20px;
}
.input input {
    padding:10px;
    margin-bottom:18px;
    height:100%;
    width:90%;
    border-radius: 7px;
    border:1px solid rgb(88, 88, 88);
}
.input input:hover{
    background-color: #058605;
    border: 1px solid #4ab14a;
}

.button input{
    width:96%;
    padding:10px;
    border-radius: 7px;
    border:1px solid #058605;
    color:white;
    font-weight: bold;
    background-color: #7ed67e;
}
.button input:hover{
    background-color:rgb(197, 216, 197);
}

@media screen  and (max-width:500px){
    .content .image img{
        display: none;
    }
    .content form{
        /* margin-left:20px; */
        width:100%;
    }
}
/* ***********************
/* !!!! FOOTER  !!!!!   */
/************************ */
footer{
position:relative;
left: 0;
bottom: 0;
/* width:100%; */
color: white;
padding:5px 0 5px 0;
}
.row{
display: flex;
flex-wrap: wrap;
width: 50%;
}
.footer-col{
width:50%;
}

footer .first li{
font-size:17px;
color: white;
}
.second li{
display: inline;
}
.second li a{
text-decoration: none;
color: white;
}
footer i{
color: white;
}
